Repository HomeLabHQ/checklist-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: api_changes, documentation

Add sonar CI/CD
  .github/workflows/sonar.yml
  frontend/yarn.lock
Labels: none

Add message for case where no project is assigned Bump dependencies
  .vscode/settings.json
  frontend/src/components/projects/ProjectList.tsx
  frontend/src/components/shared/Header.tsx
  frontend/src/components/shared/ThemeToggle.tsx
  frontend/yarn.lock
Labels: none

Remove tabular checklist Docker changes Fixes #8
  .gitignore
  .pre-commit-config.yaml
  Makefile
  backend/authentication/migrations/0001_initial.py
  backend/authentication/migrations/0002_initial.py
  backend/checklist/admin.py
  backend/checklist/constants.py
  backend/checklist/migrations/0001_initial.py
  backend/checklist/models.py
  backend/checklist/serializers.py
  backend/checklist/utils.py
  backend/checklist/views.py
  backend/core/tests.py
  backend/core/urls.py
  backend/poetry.lock
  backend/pyproject.toml
  compose.dev.yml
  compose.slim.yml
  docs/schema.yml
  frontend/src/components/checklist/CheckListForm.tsx
  frontend/src/components/checklist/CheckListItemForm.tsx
  frontend/src/components/checklist/CheckListRunItemMessageForm.tsx
  frontend/src/components/checklist/CheckListRunList.tsx
  frontend/src/components/checklist/CheckListStats.tsx
  frontend/src/components/checklist/CheckListTemplateList.tsx
  frontend/src/components/checklist/tabular/CheckListTableForm.tsx
  frontend/src/components/checklist/tabular/TableModal.tsx
  frontend/src/pages/CheckListRunPage.tsx
  frontend/src/pages/ChecklistTemplatePage.tsx
  frontend/src/pages/ProjectPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/redux/api.ts
  nginx/Dockerfile
Labels: api_changes

Bump dependencies
  .vscode/launch.json
  backend/poetry.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/checklist/CheckListTemplateList.tsx
  frontend/yarn.lock
Labels: none

Add build workflow
  .github/workflows/build.yml
Labels: none

Fix FE build
  compose.slim.yml
  compose.yml
  frontend/src/pages/MainLayout.tsx
  nginx/Dockerfile
Labels: none

Exclude extra dependencies
  backend/Dockerfile
Labels: none

Add docs deployment
  .github/workflows/docs.yml
Labels: none

Add edit template feature
  frontend/src/Router.tsx
  frontend/src/components/project/ChecklistTemplateItem.tsx
  frontend/src/components/project/ChecklistTemplateList.tsx
  frontend/src/hooks/makeKey.ts
  frontend/src/hooks/makeSwap.ts
  frontend/src/hooks/make_key.ts
Labels: none

Add eslint config Add breadcrumbs
  .vscode/settings.json
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/components/auth/LoginForm.module.css
  frontend/src/components/project/ChecklistTemplateItem.tsx
  frontend/src/components/project/ChecklistTemplateList.tsx
  frontend/src/components/project/ProjectList.tsx
  frontend/src/components/shared/Crumbs.tsx
  frontend/src/components/shared/Header.tsx
  frontend/src/components/shared/NotFound.module.css
  frontend/src/components/shared/NotFound.tsx
  frontend/src/hooks/makeKey.ts
  frontend/src/hooks/makeSwap.ts
  frontend/src/main.tsx
  frontend/src/pages/Home.page.tsx
  frontend/src/pages/Login.page.tsx
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/Project.page.tsx
  frontend/yarn.lock
Labels: none

Add Checklist creation form
  Taskfile.yml
  backend/checklist/serializers.py
  docs/schema.yml
  frontend/src/Router.tsx
  frontend/src/components/project/ChecklistTemplateList.tsx
  frontend/src/components/project/CreateCheckList.tsx
  frontend/src/components/project/EditCheckList.tsx
  frontend/src/components/shared/Crumbs.tsx
  frontend/src/pages/Checklist.page.tsx
  frontend/src/pages/Template.page.tsx
  frontend/src/redux/api.ts
Labels: api_changes

Add crud for checklists
  backend/checklist/serializers.py
  docs/schema.yml
  frontend/src/Router.tsx
  frontend/src/components/project/ChecklistTemplateList.tsx
  frontend/src/components/project/CreateCheckList.tsx
  frontend/src/components/project/EditCheckList.tsx
  frontend/src/components/project/ProjectList.tsx
  frontend/src/components/shared/Header.module.css
  frontend/src/components/shared/Header.tsx
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/Run.page.tsx
  frontend/src/redux/api.ts
Labels: api_changes

Add regression run page
  frontend/src/Router.tsx
  frontend/src/components/project/ChecklistTemplateList.tsx
  frontend/src/components/runs/RunItem.tsx
  frontend/src/hooks/formatDate.ts
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/Run.page.tsx
  frontend/src/settings/constants.ts
Labels: none

Fix poetry version
  .github/workflows/docs.yml
Labels: none

Fix wrong dir
  .github/workflows/docs.yml
Labels: none

Add using virtualenv
  .github/workflows/docs.yml
Labels: none

Use GH action for pages
  .github/workflows/docs.yml
Labels: none

Add permissions
  .github/workflows/docs.yml
Labels: none

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@a3613040b004fb07b7c5595f5f5dc8bea5a3e362 🚀
  sitemap.xml.gz
Labels: none

Bump python in sonar action
  .github/workflows/sonar.yml
Labels: none

Add graphviz installation for building ERD
  .github/workflows/docs.yml
Labels: none

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@d778b7ba89b4646a330420892e340161e353cd16 🚀
  sitemap.xml.gz
Labels: none

Added graphviz to runner itself
  .github/workflows/docs.yml
Labels: none

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@d778b7ba89b4646a330420892e340161e353cd16 🚀
  database/database/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@992fb612aa83d7d40bbf2203e7963d5f128ecb93 🚀
  c4/container/index.html
  c4/system/index.html
  schema.yml
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Add regression list Add statistic for project
  backend/checklist/serializers.py
  docs/c4/container.md
  docs/c4/system.md
  docs/schema.yml
  frontend/src/components/project/ChecklistTemplateList.tsx
  frontend/src/components/project/RunList.tsx
  frontend/src/components/project/RunStatistic.tsx
  frontend/src/components/runs/RunItem.tsx
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/Project.page.tsx
  frontend/src/redux/api.ts
Labels: api_changes, documentation

Refactor docker Fixes #30
  backend/authentication/serializers.py
  backend/core/celery.py
  backend/core/settings.py
  backend/core/tasks.py
  backend/entrypoint.sh
  backend/poetry.lock
  backend/pyproject.toml
  compose.dev.yml
  compose.slim.yml
  compose.yml
  docker/backend/Dockerfile
  docker/backend/entrypoint.sh
  docker/frontend/Dockerfile
  docker/nginx/Dockerfile
  docker/nginx/default.conf
Labels: none

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@e058f43a40f16606962861cd8395641d14a73669 🚀
  404.html
  app/index.html
  assets/javascripts/bundle.8fd75fb4.min.js
  assets/javascripts/bundle.8fd75fb4.min.js.map
  assets/javascripts/bundle.c8d2eff1.min.js
  assets/javascripts/bundle.c8d2eff1.min.js.map
  c4/container/index.html
  c4/system/index.html
  database/database/index.html
  index.html
  sitemap.xml.gz
Labels: none

Refactor docker Add email+celery Fixes #30 #27
  .gitignore
  .vscode/launch.json
  backend/authentication/serializers.py
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/core/__init__.py
  backend/core/celery.py
  backend/core/settings.py
  backend/core/tasks.py
  backend/core/tokens.py
  backend/core/utils.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/templates/notifications/signup.email.html
  compose.yml
  docs/schema.yml
  frontend/src/Router.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/components/shared/Header.tsx
  frontend/src/pages/SignupConfirm.page.tsx
  frontend/src/redux/api.ts
  frontend/src/redux/authSlice.ts
Labels: api_changes

Remove console.log Fixes #27
  frontend/src/redux/authSlice.ts
Labels: none

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@6c9c8fe17bb9f309a935a3f87615ddc2bde2ab12 🚀
  schema.yml
  sitemap.xml
  sitemap.xml.gz
Labels: none

Add social logins via google and linkedin Fixes #28
  .vscode/settings.json
  backend/authentication/serializers.py
  backend/authentication/social_pipeline.py
  backend/authentication/urls.py
  backend/authentication/views.py
  backend/core/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  docs/schema.yml
  frontend/src/Router.tsx
  frontend/src/components/auth/LoginForm.tsx
  frontend/src/pages/SignupConfirm.page.tsx
  frontend/src/pages/SocialLogin.page.tsx
  frontend/src/redux/api.ts
  frontend/src/redux/authSlice.ts
Labels: api_changes

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@f55f94e07c663069df435c89adb43757c8c98f69 🚀
  404.html
  app/index.html
  c4/container/index.html
  c4/system/index.html
  database/database/index.html
  index.html
  schema.yml
  sitemap.xml
  sitemap.xml.gz
Labels: none

Project creation + CRUD Fixes #35
  backend/authentication/migrations/0001_initial.py
  backend/authentication/migrations/0002_initial.py
  backend/authentication/models.py
  backend/checklist/migrations/0001_initial.py
  backend/checklist/models.py
  backend/checklist/serializers.py
  backend/checklist/views.py
  backend/poetry.lock
  backend/pyproject.toml
  docs/schema.yml
  frontend/src/Router.tsx
  frontend/src/components/project/ProjectForm.tsx
  frontend/src/components/project/ProjectList.tsx
  frontend/src/pages/MainLayout.tsx
  frontend/src/pages/ProjectDetail.page.tsx
  frontend/src/pages/SocialLogin.page.tsx
  frontend/src/redux/api.ts
  frontend/src/redux/authSlice.ts
  frontend/src/settings/constants.ts
Labels: api_changes

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@c60dc04b0bf31457de49944b7c15b993f37dd205 🚀
  schema.yml
  sitemap.xml
  sitemap.xml.gz
Labels: none

Update docker compose, pre-commit actions
  .github/workflows/sonar.yml
  .pre-commit-config.yaml
  README.md
  Taskfile.yml
  backend/manage.py
  backend/poetry.lock
  backend/pyproject.toml
  compose.slim.yml
  docs/database/database.md
  docs/schema.yml
  frontend/src/components/project/ProjectList.tsx
  sonar-project.properties
Labels: api_changes, documentation

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@7d300b31dbad8b651e6d91460cdea6f9181f3d1b 🚀
  404.html
  app/index.html
  assets/javascripts/bundle.bd41221c.min.js
  assets/javascripts/bundle.bd41221c.min.js.map
  assets/javascripts/bundle.c8d2eff1.min.js
  assets/javascripts/bundle.c8d2eff1.min.js.map
  c4/container/index.html
  c4/system/index.html
  database/database/index.html
  index.html
  schema.yml
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Add deploy task
  Taskfile.yml
Labels: none

Deploying to gh-pages from @ HomeLabHQ/checklist-manager@6cfc25a479e034045c52eb176d66981e66199ffc 🚀
  sitemap.xml.gz
Labels: none

Add deploy task
  Taskfile.yml
Labels: none

.github/labeler.yml:

api_changes:
  - "docs/schema.yml"
no_tests:
  - all: ["!**/tests.py", "!**/**/tests.py"]
documentation:
  - "**/*.md"
